<%= form_with(model: quote, local: true) do |form| %>
  <% if quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :text %>
    <%= form.text_area :text, class: "form-control",
      placeholder: "To be, or not to be?", rows: 4 %>
  </div>

  <div class="form-group">
    <%= form.label :source %>
    <%= form.text_field :source, class: "form-control", placeholder: "William Shakespeare" %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: "btn btn-primary form-control" %>
  </div>
<% end %>
