<div class="container">
  <div class="quote-card-wrapper">
    <a class="quote-user-img-link" href="#">
      <img src="<%= gravatar_url(@quote.user.email, 64)%>"
           alt="" class="quote-user-img" />
    </a>

    <div class="card quote-card">
      <div class="card-header quote-header">
        <a class="quote-user-link" href="#">
          <%= @quote.user.username %>
        </a>
        <span class="small text-muted">posted</span>
      </div>

      <div class="card-body">
        <p class=quote-text><%= @quote.text %></p>
        <span class="quote-source"><%= @quote.source %></span>
      </div>

      <div class="card-footer">
        <%= link_to 'Back', quotes_path %>
        <% if user_signed_in? && current_user == @quote.user %>
          <%= link_to 'Edit', edit_quote_path(@quote) %>
          <%= link_to 'Delete', @quote, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
