<div class="container">
  <%= render 'errors' %>

  <h1>Edit <%= resource_name.to_s.humanize %></h1>

  <div class="card card-default">
    <div class="card-body">
      <%= form_for(resource, as: resource_name,
                   url: registration_path(resource_name),
                   html: { method: :put }) do |f| %>
        <div class="form-row">

          <div class="form-group col-md-6">
            <%= f.label :username %>
            <%= f.text_field :username, autocomplete: "username",
              disabled: true, aria: { describedby: "usernameHelpText" },
              class: "form-control", placeholder: "Username" %>
            <small class="form-text text-muted">Usernames currently cannot be changed.</small>
          </div>

          <div class="form-group col-md-6">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email",
              class: "form-control", placeholder: "Email address" %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <small class="form-text text-muted">
                Currently waiting confirmation for: <%= resource.unconfirmed_email %>
              </small>
            <% end %>
          </div>

          <div class="form-group col-md-6">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off",
              class: "form-control", placeholder: "Password",
              aria: { describedby: "passwordHelpBlock" } %>
            <small id="passwordHelpBlock" class="form-text text-muted">
              <span>(leave blank if you don't want to change it)</span>
              <% if @minimum_password_length %>
                (<%= @minimum_password_length %> characters minimum)
              <% end %>
            </small>
          </div>

          <div class="form-group col-md-6">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off",
              class: "form-control", placeholder: "Password confirmation" %>
          </div>

          <div class="form-group col-md-6">
            <%= f.label :current_password %>
            <%= f.password_field :current_password, autocomplete: "off",
              class: "form-control", placeholder: "Current password",
              aria: { describedby: "currentPasswordHelpBlock" } %>
            <small id="currentPasswordHelpBlock" class="form-text text-muted">
              (we need your current password to confirm your changes)
            </small>
          </div>

          <hr class="w-100 my-4"/>

          <%= f.fields_for :profile, @user.profile do |pf| %>
            <div class="col-md-6">
              <div class="form-group">
                <%= pf.label :about_me %>
                <%= pf.text_area :about_me,
                  class: "form-control form-control-textarea-2x",
                  placeholder: "About me" %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <%= pf.label :location %>
                <%= pf.text_field :location,
                  class: "form-control", placeholder: "Location" %>
              </div>

              <div class="form-group">
                <%= pf.label :home_page %>
                <%= pf.url_field :home_page,
                  class: "form-control", placeholder: "Home page" %>
              </div>
            </div>
          <% end %>

        </div><!-- /.form-row -->

        <hr class="w-100 my-4"/>

        <div class="actions">
          <%= f.submit "Update", class: "btn btn-primary form-control" %>
        </div>

      <% end %>
    </div><!-- /.card-body -->

    <div class="card-footer">
      <%= link_to "Back", :back %>
    </div>
  </div>

  <div class="card card mt-4">
    <h3 class="card-header bg-danger text-white h5">Cancel my account</h3>
    <div class="card-body">
      <p>Unhappy?</p>
      <%= button_to "Cancel my account", registration_path(resource_name),
        class: "btn btn-danger mx-auto d-block",
        data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
  </div>

</div>
