<div class="container">
  <%= render 'errors' %>

  <h1><%= t('devise.sessions.heading') %></h1>

  <div class="card card-default">
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: 'email',
                                    class: 'form-control', placeholder: 'Email address' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: 'off',
                                          class: 'form-control', placeholder: 'Password' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-check form-group">
            <%= f.check_box :remember_me, class: 'form-check-input' %>
            <%= f.label :remember_me, class: 'form-check-label' %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit 'Log in', class: 'btn btn-primary form-control' %>
        </div>
      <% end %>
    </div>

    <div class="card-footer">
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
