<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/"><%= t('quotebook') %></a>
  <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbar" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/"><%= t('menu.home') %></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><%= t('menu.about') %></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><%= t('menu.help') %></a></li>
    </ul>
    <hr class="dropdown-divider">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <%= render 'navbar/user_menu' %>
      <% else %>
        <%= render 'navbar/signup_menu' %>
      <% end %>
    </ul>
  </div>
</nav>
